<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="garcia.ioc.kebook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kebook">
        <activity android:name=".viewControllers.EventoView"></activity>
        <activity android:name=".viewControllers.ResenaView" />
        <activity android:name=".viewControllers.BookItem" />
        <activity android:name=".viewControllers.UserItem" />
        <activity android:name=".viewControllers.FilterBooks" />
        <activity android:name=".viewControllers.Registre" />
        <activity android:name=".viewControllers.DashAdmin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewControllers.DashUser"
            android:label="Init usuari"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="garcia.ioc.kebook.MainActivity" />
        </activity>
    </application>

</manifest>